*{
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background: #e5e5e5;
}

main{
    max-width: 80%;
    width: 100%;
    margin: auto;
    padding: 30px;
    display: grid;
grid-template-columns: auto auto;
}

.formulario{
    display: grid;
    gap: 20px;

}

.formulario__label{
    display: block;
    font-weight: 700;
    padding: 20px;
    cursor: pointer;
}

.formulario__input{
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 10px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .5s ease all;

}

.formulario__input:focus{
    border: 3px solid #656499;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__grupo-btn{
    display: flex;
    flex-direction: column;
   align-items: center;
   margin-top: 20px;
}

.formulario__btn{
height: 45px;
line-height: 45px;
width: 30%;
background: #656499;
color: #fff;
font-weight: bolder;
border: none;
border-radius: 15px;
cursor: pointer;
transition: .1s ease all;
}

.formulario__btn:hover{
    box-shadow: 3px 0px 15px rgba(163, 163, 163, 1);
}

.formulario__enviado{
    font-size: large;
    margin-top: 20px;
}

img{
 width: 800px;
 height: fit-content;
 margin-top: 50px;
}
imagen{
    width: 800px;
    height: 400pxs;
}

h1{
    margin-top: 50px;
    margin-left: 200px;
}